html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #FFD449;
  --text-secondary: #C7CCDB;
  --bg-primary: #232528;
  --bg-secondary: #767B91;
  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  height: 100vh;
  width: 5em;
}

main {
  margin-left: 5em;
  padding-left: 1em;
  background-color: var(--text-secondary);
  height: 100vh;
}

.navbar-bar {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-item {
  width: 100%;
  height: 5em;
  list-style: none;
  color: var(--text-secondary);
  padding:1.5em 0;
}

.link-item:last-child {
  margin-top: auto;
}

.link-item:hover .link-text{
  color: var(--bg-primary);
  transition: 400ms ease;
  filter: brightness(1.8);
}

.link-item:hover {
  background-color: #C7CCDB;
  filter: brightness(0.8);
  transition: 400ms ease;
}
