@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html,
body,
ul {
  margin: 0;
  padding: 0;
}


:root {
  font-size: 16px;
  font-family: 'Varela Round', sans-serif;
  --text-primary: #FFD449;
  --text-secondary: #C7CCDB;
  --bg-primary: #232528;
  --bg-secondary: #767B91;
  --transition-speed: 600ms;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 1rem;
  height: 100vh;
  background-color: var(--text-secondary);
}

h1{
  margin: 0 1.5rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
}

.navbar-bar{
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 5rem;
  height: 100vh;
}

.nav-item{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5em;
  transition: var(--transition-speed) ease;
}

.nav-item:last-child{
  margin-top: auto;
}

.nav-item:hover {
  background-color: #C7CCDB;
}

.nav-link {
  display: flex;
  justify-content: space-between;
  width: 100%;
  size: 1em;
  text-decoration: none;
}

.link-text{
  color: var(--text-secondary);
  display: none;
  margin-right: 1em;
}

.navbar:hover .navbar-bar{
  width: 12rem;
}

.navbar:hover .link-text{
  display: block;
}

.nav-item:hover .link-text{
  color: var(--bg-primary);
} 


